{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Search Properties</h2>
    <form method="POST" action="#" class="row g-3">
        {{ form.hidden_tag() }}
        <div class="form-group col-sm-7">
            {{ form.location.label(class="form-control-label") }}
            {{ form.location(class="form-control") }}
        </div>
        <div class="form-group col-md-3">
            {{ form.min_price.label(class="form-control-label") }}
            {{ form.min_price(class="form-control") }}
        </div>
        <div class="form-group col-sm">
            {{ form.max_price.label(class="form-control-label") }}
            {{ form.max_price(class="form-control") }}
        </div>
        <div class="form-group col-md-3">
            {{ form.property_type.label(class="form-control-label") }}
            {{ form.property_type(class="form-control") }}
        </div>
        <div class="form-group col-md-3">
            {{ form.property_status.label(class="form-control-label") }}
            {{ form.property_status(class="form-control") }}
        </div>
        <div class="form-group col-md-3">
            {{ form.min_bedrooms.label(class="form-control-label") }}
            {{ form.min_bedrooms(class="form-control") }}
        </div>
        <div class="form-group col-md-3">
            {{ form.min_bathrooms.label(class="form-control-label") }}
            {{ form.min_bathrooms(class="form-control") }}
        </div>
        <div class="form-group mt-3 row-cols-3 d-flex justify-content-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <div class="row mt-4">
        {% if properties %}
        {% for property in properties %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if property.thumbnail1 %}
                    <img src="{{ url_for('static', filename='property_pics/' + property.thumbnail1) }}" class="card-img-top" alt="{{ property.title }}">
                {% else %}
                    <img src="{{ url_for('static', filename='property_pics/default.jpg') }}" class="card-img-top" alt="No Image Available">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title"><strong>{{ property.title }}</strong></h4>
                    <p class="card-text">{{ property.description[:100] }}...</p>
                    <p class="card-text"><strong>Price:</strong> ${{ property.price }}</p>
                <ul class="list-inline mt-3">
                    <li class="list-inline-item">
                        <i class="fas fa-home"></i> {{ property.property_type }}
                    </li>
                    <li class="list-inline-item">
                        <i class="fas fa-bed"></i> {{ property.bedrooms }} bd
                    </li>
                    <li class="list-inline-item">
                        <i class="fas fa-bath"></i> {{ property.bathrooms }} ba
                    </li>
                    <li class="list-inline-item">
                        <i class="fas fa-ruler-combined"></i> {{ property.size }} sqft
                    </li>
                </ul>
                    <a href="{{ url_for('proprety.view_property', property_id=property.id) }}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <div class="col-12">
                <p>No properties found</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
