{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Properties</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for property in properties %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if property.thumbnail1 %}
                        <img src="{{ url_for('static', filename='property_pics/' + property.thumbnail1) }}" class="card-img-top" alt="{{ property.title }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='property_pics/default.jpg') }}" class="card-img-top" alt="No Image Available">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title"><strong>{{ property.title }}</strong></h4>
                        <p class="card-text"><strong>{{ property.property_status }}</strong></p>
                        <p class="card-text">{{ property.description[:100] }}...</p>
                        <p class="card-text"><strong>Price:</strong> ${{ property.price }}</p>
                    <ul class="list-inline mt-3">
                        <li class="list-inline-item">
                            <i class="fas fa-home"></i> {{ property.property_type }}
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-bed"></i> {{ property.bedrooms }} bd
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-bath"></i> {{ property.bathrooms }} ba
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-ruler-combined"></i> {{ property.size }} sqft
                        </li>
                    </ul>
                        <a href="{{ url_for('proprety.view_property', property_id=property.id) }}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Pagination controls -->
    <div class="mt-4">
        <ul class="pagination">
            {% if pagination.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('proprety.get_properties', page=pagination.prev_num) }}">Previous</a>
                </li>
            {% endif %}
            {% for page_num in pagination.iter_pages() %}
                {% if page_num %}
                    <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('proprety.get_properties', page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('proprety.get_properties', page=pagination.next_num) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
