/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

body {
    background: #dfe9f5;
}

.container {
    display: flex;
}

.dashboard {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    margin-top: -37px;
    margin-left: -110px;
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

 .dashboard a {
    position: relative;
    color: rgb(85,83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #f1f1f1;
    color: #333;
}

.logout {
    position: absolute;
    bottom: 0;
}